# Production license for @nuxt/ui-pro, get one at https://ui.nuxt.com/pro/purchase
NUXT_UI_PRO_LICENSE=
# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=

CONTENTFUL_SPACE_ID=xxx
CONTENTFUL_ENVIRONMENT=xxx
CONTENTFUL_MANAGEMENT_API_ACCESS_TOKEN=xxx
CONTENTFUL_CONTENT_DELIVERY_API_ACCESS_TOKEN=xxx
