build
dist / media
node_modules
.DS_Store
.env
.next
.vercel

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml

# Local development database
dev.db
dev.db-shm
dev.db-wal
.env.production
.env.development
tsconfig.tsbuildinfo
.env*.local
.env.*

# Sentry Config File
.env.sentry-build-plugin

# AI
.cursor
.claude
CLAUDE.md
