/* Resets */

#widget-container {
  all: initial;
  font-family: initial;
}

#widget-container svg,
#widget-container img {
  display: initial;
}

/* Overrides */

#widget-container[data-widget='forecast'],
#widget-container[data-widget='observations'],
#widget-container[data-widget='stations'] {
  min-height: 100vh !important;
}

#nac-app .nac-forecast-view.nac-html-body,
#nac-app #nac-single-observation {
  @apply bg-background text-foreground !important;
}

/* Hide Zone selector on top right */
#nac-zone-selector {
  display: none;
}

/* Hide back to top button */
#nac-app .nac-btn.nac-to-top {
  display: none;
}

#nac-app {
  min-height: initial !important;
}

#nac-app #nac-weather-app {
  min-height: initial !important;
}

#nac-app #nac-weather-map:not(.nac-map-fullscreen) {
  min-height: 100vh !important;
}

#nac-app .nac-station-table-container {
  height: auto !important;
}

#nac-app #nac-station-table {
  max-height: none !important;
}

#nac-forecast-container h1.nac-h1:first-of-type,
#nac-obs-form-widget h1.nac-h1:first-of-type,
#nac-single-observation-view h1.nac-h1:first-of-type,
#nac-single-avalanche-view h1.nac-h1:first-of-type {
  display: none;
}

#nac-single-observation .nac-container:not(.nac-modal .nac-container) {
  all: unset !important;
}

#nac-obs-form-widget.nac-container {
  all: unset !important;
}

#nac-single-observation .nac-container-fluid:not(.nac-modal .nac-container-fluid) {
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-top: 0 !important;
}
