:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(240 10% 3.9%);

  --card: hsl(0 0% 100%);
  --card-foreground: hsl(240 10% 3.9%);

  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 10% 3.9%);

  --primary: hsl(240 5.9% 10%);
  --primary-hover: hsla(240 4% 11% / 0.8);
  --primary-foreground: hsl(0 0% 98%);

  --secondary: hsl(240, 23%, 39%);
  --secondary-hover: hsla(240, 25%, 39%, 0.8);
  --secondary-foreground: hsl(240 5.9% 10%);

  --muted: hsl(240 4.8% 95.9%);
  --muted-foreground: hsl(240 3.8% 46.1%);

  --accent: hsl(240 4.8% 95.9%);
  --accent-foreground: hsl(240 5.9% 10%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-hover: hsla(0 85% 60% / 0.8);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(240 5.9% 90%);
  --input: hsl(240 5.9% 90%);
  --ring: hsl(240 5.9% 10%);
  --radius: 0.5rem;

  --header: hsl(0 0% 100%);
  --header-foreground: hsl(240 10% 3.9%);
  --header-foreground-highlight: hsl(240 3.8% 46.1%);

  --footer: hsl(0 0% 100%);
  --footer-foreground: hsl(240 10% 3.9%);
  --footer-foreground-highlight: hsl(240 3.8% 46.1%);

  --callout: hsl(240 4.8% 95.9%);
  --callout-hover: hsl(240 4.8% 87.9%);
  --callout-foreground: hsl(240 10% 3.9%);

  /* Brand Colors */
  /* We have decided to use brand-50 -> 950 colors as a range of
  /* colors rather than shades of a singular color.
  /* The primary use for these colors are in our backgroundColor field
  /* and are used as background colors throughout blocks.
  */
  --brand-50: hsl(210 40% 98%);
  --brand-100: hsl(210 40% 96%);
  --brand-200: hsl(214 32% 91%);
  --brand-300: hsl(213 27% 84%);
  --brand-400: hsl(215 20% 65%);
  --brand-500: hsl(215 25% 47%);
  --brand-600: hsl(215 19% 35%);
  --brand-700: hsl(215 25% 27%);
  --brand-800: hsl(217 33% 17%);
  --brand-900: hsl(222 47% 11%);
  --brand-950: hsl(229 84% 5%);

  --brand-foreground-50: hsl(222 47% 11%);
  --brand-foreground-100: hsl(222 47% 11%);
  --brand-foreground-200: hsl(222 47% 11%);
  --brand-foreground-300: hsl(222 47% 11%);
  --brand-foreground-400: hsl(222 47% 11%);
  --brand-foreground-500: hsl(210 40% 98%);
  --brand-foreground-600: hsl(210 40% 98%);
  --brand-foreground-700: hsl(210 40% 98%);
  --brand-foreground-800: hsl(210 40% 98%);
  --brand-foreground-900: hsl(210 40% 98%);
  --brand-foreground-950: hsl(210 40% 98%);

  --success: hsl(196 52% 74%);
  --warning: hsl(34 89% 85%);
  --error: hsl(10 100% 86%);
}

.dvac {
  --primary: hsl(240, 23%, 39%);
  --primary-hover: hsl(240, 24%, 51%);

  --secondary: hsl(8 61% 45%);
  --secondary-hover: hsla(8 61% 45% / 0.9);

  --callout: hsl(66 83% 35%);
  --callout-hover: hsla(66 83% 35% / 0.8);
  --callout-foreground: hsl(0 0% 100%);

  --header-foreground-highlight: hsl(240 3.8% 35.3%);
}

/* Northwest Avalanche Center */
.nwac {
  --primary: hsl(217 62% 21%);
  --primary-hover: hsla(217 62% 21% / 0.8);

  --secondary: hsl(193 42% 74%);
  --secondary-hover: hsla(193 42% 74% / 0.8);

  --header: hsl(217 62% 21%);
  --header-foreground: hsl(193 42% 74%);
  --header-foreground-highlight: hsl(0 0% 100%);

  --footer: hsl(300 1% 22%);
  --footer-foreground: hsl(0 0% 100%);
  --footer-foreground-highlight: hsl(0 0% 100%);

  --callout: hsl(69 94% 64%);
  --callout-hover: hsla(69 94% 64% / 0.8);
  --callout-foreground: hsl(240 6% 10%);
}

/* Sierra Avalanche Center */
.sac {
  /* PRIMARY */
  --deep-blue: hsl(208 69% 19%);
  --sky-blue: hsl(201 78% 39%);
  --ice-blue: hsl(206 44% 91%);
  /* SECONDARY */
  --oxford: hsl(209 67% 15%);
  --sapphire: hsl(222 76% 38%);
  --moonstone: hsl(185 73% 44%);
  /* ADDITIONAL */
  --alice-blue: hsl(206 31% 92%);
  --indigo: hsl(211 69% 29%);
  /*--------------------------*/
  --primary: var(--deep-blue);
  --primary-hover: hsla(208 69% 19% / 0.8);

  --secondary: var(--moonstone);
  --secondary-hover: hsla(185 73% 44% / 0.8);

  --header: var(--oxford);
  --header-foreground: var(--ice-blue);
  --header-foreground-highlight: hsl(0 0% 100%);

  --footer: var(--oxford);
  --footer-foreground: var(--ice-blue);
  --footer-foreground-highlight: hsl(0 0% 100%);

  --callout: var(--sky-blue);
  --callout-hover: hsla(201 78% 39% / 0.8);
  --callout-foreground: hsl(0 0% 100%);

  --accent: hsl(27 92% 62%);

  --destructive: hsl(0 59% 53%);

  --brand-50: var(--alice-blue);
  --brand-100: var(--ice-blue);
  --brand-200: hsl(186 53% 65%);
  --brand-300: var(--moonstone);
  --brand-400: var(--sky-blue);
  --brand-500: var(--indigo);
  --brand-600: hsl(220 75% 33%);
  --brand-700: var(--sapphire);
  --brand-800: hsl(212 78% 26%);
  --brand-900: var(--deep-blue);
  --brand-950: var(--oxford);
}

/* Sawtooth Avalanche Center */
.snfac {
  --brand-50: hsl(0 0% 100%);
  --brand-100: hsl(178 100% 96%);
  --brand-200: hsl(178 83% 60%);
  --brand-300: hsl(178 75% 42%);
  --brand-400: hsl(0 0% 87%);
  --brand-500: hsl(210 4% 71%);
  --brand-600: hsl(210 4% 55%);
  --brand-700: hsl(210 4% 38%);
  --brand-800: hsl(210 4% 22%);
  --brand-900: hsl(210 4% 16%);
  --brand-950: hsl(210 4% 12%);

  --secondary: hsl(200 75% 42%);
  --secondary-hover: hsl(200 75% 38%);
  --secondary-foreground: var(--brand-50);

  --callout: var(--brand-300);
  --callout-hover: hsla(178 75% 38%);
  --callout-foreground: var(--brand-50);

  --header: var(--brand-400);
  --header-foreground: var(--brand-900);
  --header-foreground-highlight: var(--brand-700);

  --footer: var(--brand-400);
  --footer-foreground: var(--brand-900);
  --footer-foreground-highlight: var(--brand-700);
}

.a3 {
  /* A3 BRAND COLORS */
  --mountain-slate: hsl(220 25% 20%); /* RGB: 38 / 46 / 63 */
  --couloir-blue: hsl(200 81% 95%); /* RGB: 233 / 247 / 254 */
  --patrol-red: hsl(358 85% 52%); /* RGB: 237 / 28 / 36 */
  /*--------------------------*/

  --primary: var(--mountain-slate);
  --primary-hover: hsla(220 25% 20% / 0.8);
  --primary-foreground: hsl(0 0% 98%);

  --secondary: var(--patrol-red);
  --secondary-hover: hsla(358 85% 52% / 0.8);
  --secondary-foreground: hsl(0 0% 100%);

  --header: var(--mountain-slate);
  --header-foreground: var(--couloir-blue);
  --header-foreground-highlight: hsl(0 0% 100%);

  --footer: var(--mountain-slate);
  --footer-foreground: hsl(0 0% 100%);
  --footer-foreground-highlight: hsl(0 0% 100%);

  --callout: var(--patrol-red);
  --callout-hover: hsla(358 85% 52% / 0.8);
  --callout-foreground: hsl(0 0% 100%);

  --accent: var(--couloir-blue);
  --accent-foreground: var(--mountain-slate);
}
